body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
    height: 100vh;
}

.bigger-button {
    font-size: large;
    padding: 10px 20px;
}

