body {

    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: white;
    background-color: black;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
}

