body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    color: white;
    background-color: black;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    background-color: gray;
    padding: 20px;
    color: white;
    width: 100%; /* Make the header span the full width */
}

footer {
    background-color: gray;
    padding: 20px;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bigger-button {
    font-size: large;
    padding: 10px 20px;
}

/* Center the login container */
#loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}
/* Style the login and register buttons */
#loginContainer button {
    width: 150px;
    padding: 10px;
    margin: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#loginContainer button:hover {
    background-color: darkgray;
}
/* Style the login form */
#loginForm, #registerForm {
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

/* Style the input fields */
#loginForm input[type="text"], #registerForm input[type="text"],
#loginForm input[type="password"], #registerForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style the submit button */
#loginForm button , #registerForm button {
    width: 110%;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#loginForm button:hover , #registerForm button:hover {
    background-color: gray;
}
